#### LIST

In [2]:
"""
[] : 리스트(python), 배열(numpy)

db로부터 데이터를 읽어오면
[(),()]->[{:,:,:},{:,:,:},{...}]
"""

'\n[] : 리스트(python), 배열(numpy)\n\ndb로부터 데이터를 읽어오면\n[(),()]->[{:,:,:},{:,:,:},{...}]\n'

In [10]:
a= [1,3.33,"666"]

In [12]:
a

[1, 3.33, '666']

In [14]:
name = "홍길동"
age =21
print("이름 : ", name, "나이 : ",age)

이름 :  홍길동 나이 :  21

In [16]:
print("이름 :{} 나이 : {}".format(name, age))

이름 :홍길동 나이 : 21

In [19]:
name = 1
name

1

In [20]:
list_v = []
list_v = [1,"2"]
list_v

[1, '2']

In [23]:
list_v[1]

'2'

#### DICTIONARY

In [24]:
dic_v ={}
dic_v={'name':'hong','age':21,
     'list_c' : list_v}
dic_v

{'name': 'hong', 'age': 21, 'list_c': [1, '2']}

In [27]:
dic_v['list_c']

[1, '2']

In [29]:
dic_v['list_c'][1]

'2'

In [31]:
dic_v.values()

dict_values(['hong', 21, [1, '2']])

In [33]:
dic_v.keys()

dict_keys(['name', 'age', 'list_c'])

In [34]:
dic_v.items()

dict_items([('name', 'hong'), ('age', 21), ('list_c', [1, '2'])])

#### TUPLE

In [35]:
tu_v = ()
tu_v =(1, "hong", list_v,dic_v)
tu_v

(1, 'hong', [1, '2'], {'name': 'hong', 'age': 21, 'list_c': [1, '2']})

In [36]:
tu_v[0]

1

In [37]:
tu_v[2]

[1, '2']

In [38]:
tu_v[3]

{'name': 'hong', 'age': 21, 'list_c': [1, '2']}

In [39]:
list_v

[1, '2']

In [40]:
list_v.append("hong2")

In [41]:
list_v

[1, '2', 'hong2']

In [45]:
list_v[2] = 'hong3'

In [47]:
list_v.append('hong4')

In [48]:
list_v

[1, '2', 'hong3', 'hong4']

In [49]:
for i in list_v:
    print(i)

1
2
hong3
hong4

In [53]:
for i, x  in enumerate(list_v):
    print('{}번째 : {}'.format(i+1,x))

1번째 : 1
2번째 : 2
3번째 : hong3
4번째 : hong4

#### 인덱스 번호 이용

In [54]:
for i in range(len(list_v)):
    print(list_v[i])

1
2
hong3
hong4

#### 값 이용

In [55]:
for i in list_v:
    print(i)

1
2
hong3
hong4

#### list_v 변수선언

##### list_v2에 1~100추가 후 출력

In [58]:
list_v2 =[]

for i in range(1,101,1):
    list_v2.append(i)

In [60]:
for i in list_v2:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [61]:
import numpy as np

In [64]:
list_v3 = np.arange(1,101)

In [66]:
for i in list_v3:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [67]:
dic_v

{'name': 'hong', 'age': 21, 'list_c': [1, '2', 'hong3', 'hong4']}

In [68]:
dic_v["addr"] = "sejong"

In [69]:
dic_v

{'name': 'hong',
 'age': 21,
 'list_c': [1, '2', 'hong3', 'hong4'],
 'addr': 'sejong'}

In [70]:
dic_v["addr"] = "seoul"

In [71]:
dic_v

{'name': 'hong',
 'age': 21,
 'list_c': [1, '2', 'hong3', 'hong4'],
 'addr': 'seoul'}

In [79]:
for x in dic_v.values():
    print(x)

hong
21
[1, '2', 'hong3', 'hong4']
seoul

In [80]:
for x in dic_v:
    print(dic_v[x])

hong
21
[1, '2', 'hong3', 'hong4']
seoul

In [81]:
for x in dic_v:
    print(x)

name
age
list_c
addr

In [82]:
### 딕셔너리 안의 리스크 값 출력

In [101]:
for x in dic_v:
    if x =='list_c':
        for d in dic_v[x]:
            print(d)

1
2
hong3
hong4

In [113]:
list_v2=[]
dict_v1={}
dict_v2={}
dict_v3={}
dict_v4={}

'''
## 위 변수를 이용해 아래처럼 작성
[{1:'홍길동',2:'홍길동2'},
 {1:'이순신',2:'이순신2'},
 {1:'강감찬',2:'강감찬2'},
 {1:'김구',2:'김구2'}, 
  ]
'''

"\n## 위 변수를 이용해 아래처럼 작성\n[{1:'홍길동',2:'홍길동2'},\n {1:'이순신',2:'이순신2'},\n {1:'강감찬',2:'강감찬2'},\n {1:'김구',2:'김구2'}, \n  ]\n"

In [114]:
dict_v1={1:'홍길동',2:'홍길동2'}
dict_v2={1:'이순신',2:'이순신2'}
dict_v3={1:'강감찬',2:'강감찬2'}

In [115]:
dict_v4[1]='김구'
dict_v4[2]='김구2'

In [106]:
dict_v3

{1: '강감찬', 2: '강감찬2'}

In [116]:
list_v2.append(dict_v1)
list_v2.append(dict_v2)
list_v2.append(dict_v3)
list_v2.append(dict_v4)

In [118]:
list_v2

[{1: '홍길동', 2: '홍길동2'},
 {1: '이순신', 2: '이순신2'},
 {1: '강감찬', 2: '강감찬2'},
 {1: '김구', 2: '김구2'}]

In [122]:
for x in range(len(list_v2)):
    print('key : {} / values : {}'.format(list_v2[x].keys(),list_v2[x].values()))

key : dict_keys([1, 2]) / values : dict_values(['홍길동', '홍길동2'])
key : dict_keys([1, 2]) / values : dict_values(['이순신', '이순신2'])
key : dict_keys([1, 2]) / values : dict_values(['강감찬', '강감찬2'])
key : dict_keys([1, 2]) / values : dict_values(['김구', '김구2'])

In [129]:
for x in list_v2:
    #print(x)
    for k in x:
        print('key : {} / values : {}'.format(k,x[k]))

key : 1 / values : 홍길동
key : 2 / values : 홍길동2
key : 1 / values : 이순신
key : 2 / values : 이순신2
key : 1 / values : 강감찬
key : 2 / values : 강감찬2
key : 1 / values : 김구
key : 2 / values : 김구2

In [130]:
list_v2

[{1: '홍길동', 2: '홍길동2'},
 {1: '이순신', 2: '이순신2'},
 {1: '강감찬', 2: '강감찬2'},
 {1: '김구', 2: '김구2'}]

In [135]:
for x in list_v2:
    for k in x:
        if x[k] == '강감찬':
            print('key : {} / values : {}'.format(k,x[k]))
            break

key : 1 / values : 강감찬

In [136]:
for x in list_v2:
    print(x)

{1: '홍길동', 2: '홍길동2'}
{1: '이순신', 2: '이순신2'}
{1: '강감찬', 2: '강감찬2'}
{1: '김구', 2: '김구2'}

In [151]:
for x in list_v2:
    if '강감찬2' in x.values():
        for k in x:
            print('key : {} / values : {}'.format(k,x[k]))
        break

key : 1 / values : 강감찬
key : 2 / values : 강감찬2

#### DICTIONARY

In [152]:
dict_v ={}
list_c1 =[]
list_c2 =[]
list_c3 =[]
'''
## 위 변수를 이용해 아래처럼 작성
{'name' = ['홍길동1','홍길동2','홍길동3'],
 'age' = ['18','20','25']
 'local' = ['서울','경기','대전']
  ]
'''

"\n## 위 변수를 이용해 아래처럼 작성\n{'name' = ['홍길동1','홍길동2','홍길동3'],\n 'age' = ['18','20','25']\n 'local' = ['서울','경기','대전']\n  ]\n"

In [154]:
list_c1 = ['홍길동1','홍길동2','홍길동3']
list_c2 = ['18','20','25']
list_c3 = ['서울','경기','대전']

In [155]:
dict_v['name'] = list_c1
dict_v['age'] = list_c2
dict_v['local'] = list_c3

In [156]:
dict_v

{'name': ['홍길동1', '홍길동2', '홍길동3'],
 'age': ['18', '20', '25'],
 'local': ['서울', '경기', '대전']}

In [157]:
dict_v.keys()

dict_keys(['name', 'age', 'local'])

In [158]:
dict_v.values()

dict_values([['홍길동1', '홍길동2', '홍길동3'], ['18', '20', '25'], ['서울', '경기', '대전']])

In [159]:
for x in dict_v:
    print(dict_v[x])

['홍길동1', '홍길동2', '홍길동3']
['18', '20', '25']
['서울', '경기', '대전']

In [160]:
for x in dict_v.values():
    print(x)

['홍길동1', '홍길동2', '홍길동3']
['18', '20', '25']
['서울', '경기', '대전']

In [166]:
"""
key : name / values : 홍길동1
key : name / values : 홍길동2
key : name / values : 홍길동3
key : name / values : 18
"""

'\nkey : name / values : 홍길동1\nkey : name / values : 홍길동2\nkey : name / values : 홍길동3\nkey : name / values : 18\n'

In [179]:
for x in dict_v:
    #print(x)
    for d in dict_v[x]:
        print('key : {} / values : {}'.format(x,d))

key : name / values : 홍길동1
key : name / values : 홍길동2
key : name / values : 홍길동3
key : age / values : 18
key : age / values : 20
key : age / values : 25
key : local / values : 서울
key : local / values : 경기
key : local / values : 대전

In [181]:
"""
{'name' = ['홍길동1','홍길동2'...'홍길동100'],
 'age' = ['1','2',...'100']
 'local' = ['서울1','서울2',...'서울100']}
"""

"\n{'name' = ['홍길동1','홍길동2'...'홍길동100'],\n 'age' = ['1','2',...'100']\n 'local' = ['서울1','서울2',...'서울100']}\n"

In [184]:
lst1 = []
cst = '홍길동'
for i in range(1,101,1):
    lst1.append(cst+str(i))

In [187]:
lst2 = []
for i in range(1,101,1):
    lst2.append(str(i))

In [189]:
lst3 = []
cst = '서울'
for i in range(1,101,1):
    lst3.append(cst+str(i))

In [195]:
dic_l={}
dic_l['name']= lst1
dic_l['age']= lst2
dic_l['local']= lst3

In [197]:
dic_l

{'name': ['홍길동1',
  '홍길동2',
  '홍길동3',
  '홍길동4',
  '홍길동5',
  '홍길동6',
  '홍길동7',
  '홍길동8',
  '홍길동9',
  '홍길동10',
  '홍길동11',
  '홍길동12',
  '홍길동13',
  '홍길동14',
  '홍길동15',
  '홍길동16',
  '홍길동17',
  '홍길동18',
  '홍길동19',
  '홍길동20',
  '홍길동21',
  '홍길동22',
  '홍길동23',
  '홍길동24',
  '홍길동25',
  '홍길동26',
  '홍길동27',
  '홍길동28',
  '홍길동29',
  '홍길동30',
  '홍길동31',
  '홍길동32',
  '홍길동33',
  '홍길동34',
  '홍길동35',
  '홍길동36',
  '홍길동37',
  '홍길동38',
  '홍길동39',
  '홍길동40',
  '홍길동41',
  '홍길동42',
  '홍길동43',
  '홍길동44',
  '홍길동45',
  '홍길동46',
  '홍길동47',
  '홍길동48',
  '홍길동49',
  '홍길동50',
  '홍길동51',
  '홍길동52',
  '홍길동53',
  '홍길동54',
  '홍길동55',
  '홍길동56',
  '홍길동57',
  '홍길동58',
  '홍길동59',
  '홍길동60',
  '홍길동61',
  '홍길동62',
  '홍길동63',
  '홍길동64',
  '홍길동65',
  '홍길동66',
  '홍길동67',
  '홍길동68',
  '홍길동69',
  '홍길동70',
  '홍길동71',
  '홍길동72',
  '홍길동73',
  '홍길동74',
  '홍길동75',
  '홍길동76',
  '홍길동77',
  '홍길동78',
  '홍길동79',
  '홍길동80',
  '홍길동81',
  '홍길동82',
  '홍길동83',
  '홍길동84',
  '홍길동85',
  '홍길동86',
  '홍길동87',
  '홍길동88',
  '홍길동89',
  '홍길동90',
  '홍길동91',
  '홍길동92',
  '홍길동93',
  '홍길동94',
  '홍길동95',
  '홍길동96',
  '홍길동97',
  '홍길동98',
  '홍길동99',
  '홍길동100'],
 'age': ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '18',
  '19',
  '20',
  '21',
  '22',
  '23',
  '24',
  '25',
  '26',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '36',
  '37',
  '38',
  '39',
  '40',
  '41',
  '42',
  '43',
  '44',
  '45',
  '46',
  '47',
  '48',
  '49',
  '50',
  '51',
  '52',
  '53',
  '54',
  '55',
  '56',
  '57',
  '58',
  '59',
  '60',
  '61',
  '62',
  '63',
  '64',
  '65',
  '66',
  '67',
  '68',
  '69',
  '70',
  '71',
  '72',
  '73',
  '74',
  '75',
  '76',
  '77',
  '78',
  '79',
  '80',
  '81',
  '82',
  '83',
  '84',
  '85',
  '86',
  '87',
  '88',
  '89',
  '90',
  '91',
  '92',
  '93',
  '94',
  '95',
  '96',
  '97',
  '98',
  '99',
  '100'],
 'local': ['서울1',
  '서울2',
  '서울3',
  '서울4',
  '서울5',
  '서울6',
  '서울7',
  '서울8',
  '서울9',
  '서울10',
  '서울11',
  '서울12',
  '서울13',
  '서울14',
  '서울15',
  '서울16',
  '서울17',
  '서울18',
  '서울19',
  '서울20',
  '서울21',
  '서울22',
  '서울23',
  '서울24',
  '서울25',
  '서울26',
  '서울27',
  '서울28',
  '서울29',
  '서울30',
  '서울31',
  '서울32',
  '서울33',
  '서울34',
  '서울35',
  '서울36',
  '서울37',
  '서울38',
  '서울39',
  '서울40',
  '서울41',
  '서울42',
  '서울43',
  '서울44',
  '서울45',
  '서울46',
  '서울47',
  '서울48',
  '서울49',
  '서울50',
  '서울51',
  '서울52',
  '서울53',
  '서울54',
  '서울55',
  '서울56',
  '서울57',
  '서울58',
  '서울59',
  '서울60',
  '서울61',
  '서울62',
  '서울63',
  '서울64',
  '서울65',
  '서울66',
  '서울67',
  '서울68',
  '서울69',
  '서울70',
  '서울71',
  '서울72',
  '서울73',
  '서울74',
  '서울75',
  '서울76',
  '서울77',
  '서울78',
  '서울79',
  '서울80',
  '서울81',
  '서울82',
  '서울83',
  '서울84',
  '서울85',
  '서울86',
  '서울87',
  '서울88',
  '서울89',
  '서울90',
  '서울91',
  '서울92',
  '서울93',
  '서울94',
  '서울95',
  '서울96',
  '서울97',
  '서울98',
  '서울99',
  '서울100']}

In [199]:
dic_l.keys()

dict_keys(['name', 'age', 'local'])

In [202]:
dic_l['name']

['홍길동1',
 '홍길동2',
 '홍길동3',
 '홍길동4',
 '홍길동5',
 '홍길동6',
 '홍길동7',
 '홍길동8',
 '홍길동9',
 '홍길동10',
 '홍길동11',
 '홍길동12',
 '홍길동13',
 '홍길동14',
 '홍길동15',
 '홍길동16',
 '홍길동17',
 '홍길동18',
 '홍길동19',
 '홍길동20',
 '홍길동21',
 '홍길동22',
 '홍길동23',
 '홍길동24',
 '홍길동25',
 '홍길동26',
 '홍길동27',
 '홍길동28',
 '홍길동29',
 '홍길동30',
 '홍길동31',
 '홍길동32',
 '홍길동33',
 '홍길동34',
 '홍길동35',
 '홍길동36',
 '홍길동37',
 '홍길동38',
 '홍길동39',
 '홍길동40',
 '홍길동41',
 '홍길동42',
 '홍길동43',
 '홍길동44',
 '홍길동45',
 '홍길동46',
 '홍길동47',
 '홍길동48',
 '홍길동49',
 '홍길동50',
 '홍길동51',
 '홍길동52',
 '홍길동53',
 '홍길동54',
 '홍길동55',
 '홍길동56',
 '홍길동57',
 '홍길동58',
 '홍길동59',
 '홍길동60',
 '홍길동61',
 '홍길동62',
 '홍길동63',
 '홍길동64',
 '홍길동65',
 '홍길동66',
 '홍길동67',
 '홍길동68',
 '홍길동69',
 '홍길동70',
 '홍길동71',
 '홍길동72',
 '홍길동73',
 '홍길동74',
 '홍길동75',
 '홍길동76',
 '홍길동77',
 '홍길동78',
 '홍길동79',
 '홍길동80',
 '홍길동81',
 '홍길동82',
 '홍길동83',
 '홍길동84',
 '홍길동85',
 '홍길동86',
 '홍길동87',
 '홍길동88',
 '홍길동89',
 '홍길동90',
 '홍길동91',
 '홍길동92',
 '홍길동93',
 '홍길동94',
 '홍길동95',
 '홍길동96',
 '홍길동97',
 '홍길동98',
 '홍길동99',
 '홍길동100']

In [207]:
for x in dic_l:
    if x =='name':
        for d in dic_l[x]:
            print(d)

홍길동1
홍길동2
홍길동3
홍길동4
홍길동5
홍길동6
홍길동7
홍길동8
홍길동9
홍길동10
홍길동11
홍길동12
홍길동13
홍길동14
홍길동15
홍길동16
홍길동17
홍길동18
홍길동19
홍길동20
홍길동21
홍길동22
홍길동23
홍길동24
홍길동25
홍길동26
홍길동27
홍길동28
홍길동29
홍길동30
홍길동31
홍길동32
홍길동33
홍길동34
홍길동35
홍길동36
홍길동37
홍길동38
홍길동39
홍길동40
홍길동41
홍길동42
홍길동43
홍길동44
홍길동45
홍길동46
홍길동47
홍길동48
홍길동49
홍길동50
홍길동51
홍길동52
홍길동53
홍길동54
홍길동55
홍길동56
홍길동57
홍길동58
홍길동59
홍길동60
홍길동61
홍길동62
홍길동63
홍길동64
홍길동65
홍길동66
홍길동67
홍길동68
홍길동69
홍길동70
홍길동71
홍길동72
홍길동73
홍길동74
홍길동75
홍길동76
홍길동77
홍길동78
홍길동79
홍길동80
홍길동81
홍길동82
홍길동83
홍길동84
홍길동85
홍길동86
홍길동87
홍길동88
홍길동89
홍길동90
홍길동91
홍길동92
홍길동93
홍길동94
홍길동95
홍길동96
홍길동97
홍길동98
홍길동99
홍길동100

#### 리스트에 딕셔너리 데이터 넣기

In [209]:
"""
{'name' = ['홍길동1','홍길동2'...'홍길동100'],
 'age' = ['1','2',...'100']
 'local' = ['서울1','서울2',...'서울100']}
 
이것을 아래와 같이 변환 

[{'name':'홍길동1','age':1, 'local':'서울1'},
 {'name':'홍길동2,'age':2, 'local':'서울2'},
 ....
 {'name':'홍길동100','age':100local':'서울100]
 
"""

"\n{'name' = ['홍길동1','홍길동2'...'홍길동100'],\n 'age' = ['1','2',...'100']\n 'local' = ['서울1','서울2',...'서울100']}\n \n이것을 아래와 같이 변환 \n\n[{'name':'홍길동1','age':1, 'local':'서울1'},\n {'name':'홍길동2,'age':2, 'local':'서울2'},\n ....\n {'name':'홍길동100','age':100local':'서울100]\n \n"

In [208]:
for x in dic_l:
    print(x)

name
age
local

In [213]:
dic_l['name'][0]
dic_l['age'][0]
dic_l['local'][0]

'서울1'

In [233]:
dot_v={}

In [244]:
llst_l =[]
for x in range(0,len(dic_l['name']),1):
    dot_v={}
    dot_v['name']=dic_l['name'][x]
    dot_v['age']=dic_l['age'][x]
    dot_v['local']=dic_l['local'][x]
    llst_l.append(dot_v)

In [247]:
llst_l[99]

{'name': '홍길동100', 'age': '100', 'local': '서울100'}

#### 연산함수

In [248]:
def gethap():
    a=20
    b=30
    hap=a+b
    return hap

In [249]:
gethap()

50

In [250]:
def gethap(a=10, b=20):
    hap = a+b
    return hap

In [253]:
gethap(2,3)

5

In [257]:
def gethap(a=1,b=2):
    return('hap = {}'.format(a+b))

In [259]:
gethap()

'hap = 3'

In [267]:
def gethap(a,b=1):
    return a, b, a, b

In [270]:
gethap(1)

(1, 1, 1, 1)

In [282]:
### 사칙연산
def getmath(a=1,b=1, c='+'):
    if c == '+':
        return a+b
    elif c =='-':
        return a-b
    elif c =='*':
        return a*b
    elif c =='/':
        return a/b
    else:
        return 'not known'

In [287]:
getmath(1,1,'*')

1

In [288]:
def getmode(mode, a, b):
    return eval("a" + mode + " b")

In [290]:
getmode('+',2,3)

5

In [292]:
b = 50
try:
    print(eval('1 + b'))
except:
    pass

51